.profile-image-box {
    width: 82px;
    height: 82px;
    border-radius: 50%;
    border: 1px solid #fff;
}

.profile-image-box img {
    border-radius: 50%;
}

#profile-box-main {
    max-width: none;
    height: 100%;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #fff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.68);
}

.profile-menu-boxes {
    background: linear-gradient(90deg, #A00ACA 0%, #2F056E 100%);
    width: 90%;
    height: 80px;
    cursor: pointer;
}

.profile-cat {
    font-size: 20px;
    color: #fff;
}

.icon-arrow-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
    color: white;
    background: rgba(138, 138, 138, 0.5);
    /* clip-path: polygon(50% 0%, 100% 25%, 100% 100%, 0% 100%, 0% 25%); */
    clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
    /* Arrow-shaped background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.p-main-container {
    position: relative;
    height: 100vh;
    overflow-x: hidden;
}

@media(max-width:768px) {
    .profile-box {
        flex-direction: column;
    }

    .p-main-container {
        height: auto;
    }
}